<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <link href="../static/mainStyle.css" rel='stylesheet' type="text/css">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="../static/client.js"></script>
</head>

<body>
  <div id="users"><strong>Users: </strong></div>
  <div id="messages"><strong>Messages: </strong></div>
  <script>
    $(function() {
      var socket = io();
      var username = '';

      var addUser = function (data) {
        $('#users').append('<p id='+ data.user[1] +'>'+ data.user[1] +'</p>');
      };

      var removeUser = function (data) {

      };

      var addChatMessage = function (data, options) {
        $('#messages').append('<p>'+ data.message +'</p>');
      };

      //**** Socket Events ****//
      socket.on('users list', function(data) {
        if (data) {
          console.log(data);
        }
      });

    });
  </script>
</body>

</html>
