<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <link href="../static/mainStyle.css" rel='stylesheet' type="text/css">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="../static/client.js"></script>
</head>

<body>
  <div id="users"><strong>Users: </strong></div>
  <div id="messages"><strong>Messages: </strong></div>
  <form id="inputMessage" action="">
    <input name="msgTxt" type="text" placeholder="Type here..."/>
    <input type="submit" value="send">
  </form>
  <script>
    $(function() {
      var socket = io();
      var username = '';
      var users = {};
      var usersKeys = [];

      var updateUsersKeys = function () {
        usersKeys = Object.keys(users);
      }

      var updateUsersList = function () {
        updateUsersKeys()
        var key = '';
        $('#users').html('<strong>Users: </strong>');
        for (var i=0; i<usersKeys.length; i++) {
          key = usersKeys[i];
          user = users[key];
          if (user == username[key]) {
            $('#users').append('<p id='+ user +'>'+ user +' (me)</p>');
          } else {
            $('#users').append('<p id='+ user +'>'+ user +'</p>');
          }
        }
      };

      var addChatMessage = function (data, options) {
        $('#messages').append('<p>'+ data.username +': '+ data.message +'</p>');
      };


      var cleanInput = function(data) {
        return $( $.parseHTML(data) ).text(); // prevent markup injection
      };

      //**** Page Events ****//
      $('#inputMessage').on('submit', function(e) {
        e.preventDefault();
        var msgTxt = $('input[name="msgTxt"]').val(); // get input text
        $('input[name="msgTxt"]').val(''); // empty input field
        msgTxt = cleanInput(msgTxt); // prevent markup injection
        socket.emit('lobby message', msgTxt)
      });

      //**** Socket Events ****//
      socket.on('users list', function(data) {
        if (!username && data.username) {
          username = data.username
          users = data.users;
          updateUsersList();
        } else if (data.users) {
          users = data.users;
          updateUsersList();
        }
      });

      socket.on('lobby message', function(data) {
        console.log(data);
        addChatMessage(data);
      });

    });
  </script>
</body>

</html>
